.main_page_tests {
    text-align: center;
    margin-left: 5% !important;
    width: 45% !important;
}

.test_main {
    text-align: center;
    margin: 0 auto;
}
.checkbox-container {
    width: 20%;
    margin: 0 auto;
    font-size: 25px;
}
.test_check_btn {
    margin-top: 40px;
}
.result_text {
    font-size: 25px;
}
.login-main {
    margin: 0 auto;
    /* text-align: center; */
}